*{
    padding: 0;
    margin: 0;
}

body{
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
}

h1{
    margin: 1em 0 1em;
    display: block;
    
}

table{
    margin:auto;
    border-spacing: 0;
}

td{
    border:0;
}
#autoPlay {
    width: 2em;
    height: 2em;
    vertical-align: middle;
}

@-webkit-keyframes birth{
    50%{
        box-shadow: 0 0 0 99px #084947 inset;
    }
}

@keyframes birth{
    50%{
        box-shadow: 0 0 0 99px #084947 inset;
    }
}


@-webkit-keyframes death{
    50%{
        box-shadow: 0 0 0 99px black inset;
    }
}

#grid input[type="checkbox"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: 0;
    display: block;
    width: 4em;
    height: 4em;
    margin: 5px;
    background-color:#eeeeee;
    transition: 0.1s;

    border-radius: 90px;
}

#grid input:focus {
    outline: 0;
}

#grid input[type="checkbox"]:checked {
    background-color: #0d3349;
    
    -webkit-animation: birth 0.3s;
    animation: birth 0.3s;
}

.controls {

    padding: 2em;
}

button{
    width: 15em;
    height: 3em;
}

.white{
    background: white;
}